# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-exe
dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/gen/*
localtable.sqlite

.history
.svelte-kit
# do not ignore .svelte-kit/tsconfig.json, the project would not compile without it
# if we ever loose the file we will need to do 2 stage bootstrap process (bun run check)
# see the output, it shuld be an error 'Cannot find module' (lib/utils/markdown) from svelte.config.js
# so we need to delete import, then run check again, then add import back and then build works.
!.svelte-kit/tsconfig.json
# (to force git to not ignore the file run: `git add -f .svelte-kit/tsconfig.json`)

build

static/og-images/*