# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-exe
dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/gen/*
localtable.sqlite

.history
.svelte-kit
build

static/og-images/*